


<p-scrollTop></p-scrollTop>

<section class="fijo" >
<app-header></app-header> 


 <div class="row bg-blue-600 text-gray-100 p-2 flex justify-content-between lg:justify-content-start align-items-start flex-wrap sidebar">
    
   <div>
    <div class="col-12">
       
        <span *ngIf="employee.img"><img class="border-circle w-10rem h-10rem m-2 flex align-items-center justify-content-center" [src]="employee.img" alt="empleado"></span>
        <span *ngIf="!employee.img"><img src="assets/images/no-image.png" class="border-circle w-10rem h-10rem m-2 flex align-items-center justify-content-center" alt="empleado"></span>

    </div>
    <div class="flex align-items-center justify-content-center">
        <button pButton (click)="actualizarImagen( employee )" pRipple type="button" label="Editar foto" class="p-button-rounded p-button-warning text-xs" styleClass="p-button-sm"></button>
    </div>
    

</div>

    


   
    
    <div class="grid">
        <div class="col-12 mt-6">
            
            <div class="employee-name flex align-items-start justify-content-start">{{employee.gender_id === 'db84c105-4100-49a1-afae-25b69b0756b8' ? "Sr." : "Sra."}} {{employee.firstName}} {{employee.secondName}} {{employee.surname}} {{employee.secondSurName}}</div>
            <div class="employee-description flex align-items-start justify-content-start">{{employee.identification}}</div>
            <div class="employee-description flex align-items-start justify-content-start">{{employee.cellPhone}}</div>
            <div class="employee-description flex align-items-start justify-content-start mb-2">{{employee.email}}</div>
    </div>

    </div>


    

</div> 



    <div class="flex justify-content-start flex-wrap card-container blue-container" style="background-color:white;">

        <button [ngClass]="{'active': active === 1}" pageScroll  (click)="onScroll(panel1, 1)" pButton pRipple type="button" label="INFORMACIÓN PERSONAL" class="flex align-items-center justify-content-center p-button-link font-bold"></button>
        <button [ngClass]="{'active': active === 2}" pageScroll  (click)="onScroll(panel2, 2)" pButton pRipple type="button" label="INFORMACIÓN LABORAL" class="flex align-items-center justify-content-center p-button-link font-bold"></button>
        <button [ngClass]="{'active': active === 3}" pageScroll  (click)="onScroll(panel3, 3)" pButton pRipple type="button" label="CONTRATO" class="flex align-items-center justify-content-center p-button-link font-bold"></button>
        <button [ngClass]="{'active': active === 4}" pageScroll  (click)="onScroll(panel4, 4)" pButton pRipple type="button" label="SALARIO" class="flex align-items-center justify-content-center p-button-link font-bold"></button>
        <button [ngClass]="{'active': active === 5}" pageScroll  (click)="onScroll(panel5, 5)" pButton pRipple type="button" label="INFORMACIÓN DEL PUESTO" class="flex align-items-center justify-content-center p-button-link font-bold"></button>
        <button [ngClass]="{'active': active === 6}" pageScroll  (click)="onScroll(panel6, 6)" pButton pRipple type="button" label="FORMA DE PAGO" class="flex align-items-center justify-content-center p-button-link font-bold"></button>
        <button [ngClass]="{'active': active === 7}" pageScroll  (click)="onScroll(panel7, 7)" pButton pRipple type="button" label="SEG. SOCIAL" class="flex align-items-center justify-content-center p-button-link font-bold"></button>
        <button [ngClass]="{'active': active === 8}" pageScroll  (click)="onScroll(panel8, 8)" pButton pRipple type="button" label="RECURRENTES" class="flex align-items-center justify-content-center p-button-link font-bold"></button>
        
    </div>

</section >




<div>



    <div #panel1 style="margin-top: 340px;">
      
           <app-infoEmployee></app-infoEmployee>
    
       <hr>
    </div>
    <div #panel2>
        
         <app-workingEmployee></app-workingEmployee>

        <hr>
    </div>
        
    
    <div #panel3 >
      <app-contractEmployee></app-contractEmployee>
      
       <hr>
    </div>

    <div #panel4>
       <app-salaryEmployee></app-salaryEmployee>
      <hr>
    </div>

    <div #panel5 >
      
      <app-jobEmployee></app-jobEmployee>  
        <hr>
          
    </div>

    <div #panel6 >
       
        <app-paymentEmployee></app-paymentEmployee>
       
        <hr>  
        
    </div>

    <div #panel7 >
      
        <app-socialSecurityEmployee></app-socialSecurityEmployee>
        <hr> 
        
    </div>
   
    <div #panel8>
     <app-recurrentPaymentEmployee></app-recurrentPaymentEmployee>
      <hr> 
    </div>
          
</div>

    <p-scrollTop
    target="parent"
    styleClass="custom-scrolltop bg-primary"
    [threshold]="100"
    icon="pi pi-arrow-up"
    color="primary"
    ></p-scrollTop>


