<div class="product-list-item">
    <div class="product-list-detail">
        <div> <img [src]="employee.img" class="img-rounded" alt="empleado">
        <div class="product-name">{{employee.firstName}} {{employee.surname}}</div>
        <div class="product-description">{{employee.identification}}</div>
        <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{employee.mail}}</span>
    </div>
    <div class="product-list-action">
        <span class="product-price">{{employee.phone}</span>
    </div>
</div>
