

<p-menubar class="p-mr-8">
     <ng-template pTemplate="start">
        <div class="flex align-content-center flex-wrap p-mr-8">

        
            <img src="assets/images/logoletra2.png" height="40" class="p-mr-6">
            
            
            <!-- <button pButton (click) = "screen()" pRipple type="button" icon="pi pi-arrow-circle-left" 
                    class="p-button-rounded p-button-text mx-6 p-button-lg"></button> -->

                    <p-menu #menup [popup]="true" [model]="menu" appendTo="body"></p-menu>
                    <button type="button" class="p-button-text" pButton label="Menú" icon="pi pi-angle-down"  (click)="menup.toggle($event)"></button>
                    
                    
          
            <span *ngIf="company1.img"><img class="p-mr-2 flex align-content-center flex-wrap" [src]="company1.img" height="40" class="p-ml-6" style="border-radius: 50%" alt="user"></span>
            <span *ngIf="!company1.img"> <img class="p-mr-2 flex align-content-center flex-wrap"src="assets/images/SIN-IMAGEN.jpg" height="40" class="p-ml-6" style="border-radius: 50%"></span>
            <span class="flex align-content-center flex-wrap mr-4">{{empresa.name}}</span>
           
        </div>
        
    </ng-template>    
 
 


    <ng-template pTemplate="end">
        <div>
      <!--   <span class="flex align-content-center flex-wrap text-blue-500 p-mr-2">Bienvenido(a):</span>
        <span class="flex align-content-center flex-wrap"><p-splitButton class="flex align-content-center flex-wrap mr-2" label="{{usuario.name | titlecase}}" [model]="items" styleClass="p-button-primary"></p-splitButton></span> -->
<!--         <span class="flex align-content-center flex-wrap p-mr-2">{{usuario.name | titlecase}}</span> -->
        <span *ngIf="usuario.img"><img [src]="usuario.img" height="40" class="p-mr-2 cursor-pointer" (click)="op.toggle($event)" style="border-radius: 50%" alt="user"></span>
        <span *ngIf="!usuario.img"> <img src="assets/images/no-image.png" height="40" class="p-mr-2 cursor-pointer" (click)="op.toggle($event)" style="border-radius: 50%"></span>
        
        <p-overlayPanel #op [showCloseIcon]="false" appendTo="body" [style]="{width: '250px'}">
            <ng-template pTemplate>
                <div class="mb-2">
                    
                    <span class="text-center flex justify-content-center font-bold text-600 font-medium text-xl" style="text-align: center;">{{ usuario.name | titlecase}}</span>

                </div>
                <hr class="mb-2 mx-0 border-top-1 border-none surface-border mt-auto" />
                <div class="mb-2 p-fluid">
                    
                    <button pButton pRipple type="button" label="Mi Perfil" icon="pi pi-user" class="p-button-secondary p-button-text" style="text-align: left;"></button>

                </div>
                <hr class="mb-2 mx-0 border-top-1 border-none surface-border mt-auto" />
                <div class="mb-2 p-fluid">
                    
                    <button pButton pRipple type="button" label="Cambiar de Empresa" icon="pi pi-home" class="p-button-secondary p-button-text" style="text-align: left;"></button>

                </div>
                <hr class="mb-2 mx-0 border-top-1 border-none surface-border mt-auto" />
                <div class="mb-2 p-fluid">
                    
                    <button pButton pRipple type="button" label="Suscripción" icon="pi pi-credit-card" class="p-button-secondary p-button-text" style="text-align: left;"></button>

                </div>
                <hr class="mb-2 mx-0 border-top-1 border-none surface-border mt-auto" />
                <div class="p-fluid">
                    
                    <button pButton pRipple type="button" (click)="_usuarioService.logout()" label="Cerrar Sesión" icon="pi pi-power-off" class="p-button-secondary p-button-text" style="text-align: left;"></button>

                </div>
            </ng-template>
        </p-overlayPanel>

       
    </div>
    </ng-template>
</p-menubar>




