
<app-header></app-header>



<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="20000">


    <p>PRCOCESOS ANTES DE LA NOMINA:</p>
    <p class="m-4">RECIBIR NOVEDADES:</p>
    <ul style="line-height:180%">

      <li>Vacaciones</li>
      <li>Horas Extras</li>
      <li>Incapacidades</li>
      <li>Ausentismos</li>
      <li>Prestamos</li>
      <li>Embargos</li>
      <li>Cambios de centros de costos</li>
      <li>Cambio de salario</li>
      <li>Retiros</li>
    </ul>

    <p class="p-2">PRCOCESOS DURANTE DE LA NOMINA:</p>
    <ul style="line-height:180%">

      <li>Registrar Nuevos Empleados</li>
      <li>Realizar Prorrogas de Contrato</li>
      <li>Realizar Cambios de Centro de Costos</li>
      <li>Realizar Cambios de Sueldo</li>
      <li>Registrar Horas Extras</li>
      <li>Registrar Ausentismos</li>
      <li>Registrar Pagos Recurrentes</li>
      <li>Registrar Deducciones Recurrentes</li>
      <li>Registrar Prestamos</li>
      <li>Pagar Comisiones</li>
      <li>Liquidar Cesantias Parciales</li>
      <li>Liquidaciones de contrato</li>
      <li>Liquidación de la Nómina</li>
      <li>Generar y Revisar la Prenomina</li>
      <li>Imprimir Soportes de Nómina</li>
      <li>Generar Archivo de Pagos</li>
      <li>Generar y enviar interfaz contable</li>
      <li>Ejecutar proceso de autoliquidación y parafiscales</li>
      <li>Generar archivo plano de autoliquidación y parafiscales</li>
    </ul>

    <p class="p-2">PRCOCESOS DESPUES DE LA NOMINA:</p>
    <ul style="line-height:180%">

      <li>Informe del DANE</li>
      <li>Informe Registrauría</li>
      <li>Informes de indicadores</li>
      <li>Pagos a Terceros</li>
      <li>Conciliación</li>
    </ul>



</p-sidebar>
<!-- <p-button type="button" class="p-mr-2 absolute bottom-50 right-0 align-items-center justify-content-center"
(click)="visibleSidebar2 = true" >Check List</p-button> -->






<div class="grid nested-grid">
  <div class="col-8">
      <div class="grid">
          <div class="col-6">

            <p-card [style]="{'height': '19.00rem'}">
              <div class="grid mt-2">

                  <div class="col-12">


                      <div routerLink="/payroll/novelties" class="align-content-center cursor-pointer border-bluegray-300 bg-teal-100 border-1" [style]="{'border-radius': '15px'}">

                        <div class="text-center textLogo">
                          <i class="pi pi-dollar" style="font-size: 2rem" ></i>
                         </div>
                         <div class="text-center">
                           <span class="mb-1 text-base textMenu">Nómina Actual</span>
                         </div>

                         <div class="text-center text-sm mt-2">
                          <span class="mb-1 text-base textLogo">Periodo:{{period.year}}-{{period.number}}</span>
                        </div>


                        <div class="text-center">
                         <span class="text-600 text-sm"><small class="text-600">Del:{{period.initialDate | date: 'dd-MM-YYYY': 'GMT +12'}}</small></span>
                         <span class="text-600 text-sm ml-2"><small class="text-600">Al:{{period.endDate | date: 'dd-MM-YYYY': 'GMT +1'}}</small></span>
                        </div>
                        </div>
                      </div>

                        <div class="col-6">
                          <div class="align-content-center cursor-pointer border-bluegray-300 surface-overlay border-1" [style]="{'border-radius': '15px','height': '6.00rem'}" routerLink="/payroll/novelties" >
                                 <div class="textLogo text-center">
                                   <i class="pi pi-money-bill" style="font-size: 2rem" ></i>
                                  </div>
                                  <div class="text-center">
                                    <span class="text-base textMenu">Nóminas Especiales</span>

                                </div>

                            </div>
                          </div>



                <div class="col-6">
                      <div class="align-content-center cursor-pointer border-bluegray-300 surface-overlay border-1" [style]="{'border-radius': '15px','height': '6.00rem'}" routerLink="/payroll/novelties" >

                               <div class="text-center textLogo">
                                 <i class="pi pi-clock" style="font-size: 2rem" ></i>
                                </div>
                                <div class="text-center">
                                  <span class=" text-base textMenu">Nóminas Históricas</span>

                              </div>


                        </div>

                      </div>


                      </div>





                    </p-card>







          </div>
          <div class="col-6">

            <p-card [style]="{'height': '19.00rem'}">
              <div class="grid mt-2">

                  <div class="col-6">
                      <!-- <div class="text-center p-3 border-round-sm bg-primary font-bold">6</div> -->
                      <div class="align-content-center cursor-pointer border-bluegray-300 surface-overlay border-1" [style]="{'border-radius': '15px','height': '6.00rem'}" routerLink="/payroll/novelties" >
                        <div class="text-center textLogo">
                          <i class="pi pi-user-plus" style="font-size: 2rem" ></i>
                         </div>
                         <div class="text-center">
                           <span class="text-base textMenu">Nuevo Empleado</span>

                       </div>

                   </div>
                  </div>
                  <div class="col-6">
                     <!--  <div class="text-center p-3 border-round-sm bg-primary font-bold">12</div> -->
                     <div class="align-content-center cursor-pointer border-bluegray-300 surface-overlay border-1" [style]="{'border-radius': '15px','height': '6.00rem'}" routerLink="/payroll/novelties" >

                      <div class="text-center textLogo">
                        <i class="pi pi-user-minus" style="font-size: 2rem" ></i>
                       </div>
                       <div class="text-center">
                         <span class=" text-base textMenu">Retirar Empleado</span>

                     </div>
                    </div>
                  </div>

                  <div class="col-12">

                    <!--    <div class="text-center p-3 border-round-sm bg-primary font-bold">6</div> -->
                    <div routerLink="/employees/list" class="align-content-center cursor-pointer border-bluegray-300 bg-teal-100 border-1" [style]="{'border-radius': '15px'}">

                     <div class="text-center textLogo mt-2">
                       <i class="pi pi-users" style="font-size: 2rem" ></i>
                      </div>
                      <div class="text-center mt-2">
                        <span class="mb-1 text-base textMenu">Listado de Empleados</span>
                      </div>

                      <div class="text-center text-sm mt-2">
                        <span class="text-600 text-sm"><small class="text-600">Activos: 100</small></span>
                        <span class="text-600 text-sm ml-2"><small class="text-600">Retirados: 5</small></span>
                     </div>

                     </div>

                   </div>



              </div>
            </p-card>




          </div>



          <div class="col-12">


            <p-card>

              <div class="col-12">
                <div routerLink="/companies/config" class="align-content-center cursor-pointer border-bluegray-300 bg-teal-100 border-1" [style]="{'border-radius': '15px'}">

                  <div class="text-center textLogo mt-2">
                    <i class="pi pi-cog" style="font-size: 2rem" ></i>
                   </div>
                   <div class="text-center">
                     <span class="mb-1 text-base textMenu">Configurar Empresa</span>
                   </div>



                  </div>
                  </div>
                  <div class="col-12">
                    <div routerLink="/payroll/novelties" class="align-content-center cursor-pointer border-bluegray-300 bg-teal-100 border-1" [style]="{'border-radius': '15px'}">

                      <div class="text-center textLogo mt-2">
                        <i class="pi pi-list" style="font-size: 2rem" ></i>
                       </div>
                       <div class="text-center">
                         <span class="mb-1 text-base textMenu">Conceptos de Nomina</span>
                       </div>



                      </div>
                  </div>


            </p-card>


          </div>

      </div>

      <p-card [style]="{ background:'#0f04fc', 'height': '9.00rem'}">



          <div class="grid">



            <div class="col">
              <span class="text-100 font-medium">Saldo Vacaciones</span>

              <div class="text-100 text-4xl">{{ 5000000 | currency:'COP': true:'2.0'}}</div>

            </div >
            <p-divider layout="vertical"></p-divider>

            <div class="col">
              <span class="block text-100 font-medium">Saldo Prima Legal</span>
              <div class="text-100 font-medium text-4xl">{{ 1000000 | currency:'COP':true:'2.0' }}</div>

          </div>
          <p-divider layout="vertical"></p-divider>

          <div class="col">
            <span class="block text-100 font-medium">Saldo Cesantias</span>
              <div class="text-100 font-medium text-4xl">{{ 2500000 | currency:'COP':true:'2.0' }}</div>

        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="col">
          <span class="block text-100 font-medium">Saldo Int Cesantias</span>
          <div class="text-100 font-medium text-4xl">{{ 1000000 | currency:'COP':true:'2.0'}}</div>
      </div>

          </div>



      </p-card>




  </div>










  <div class="col-2">

    <div>


      <p-card [style]="{'height': '33.80rem'}">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"></button>
        </div>

    </p-card>
    </div>


<div class="mt-2">
  <p-card [style]="{ background:'#1a9315', 'height': '9.00rem'}">
    <div class="card flex justify-center">

  </div>
  </p-card>
</div>



  </div>






  <div class="col-2">

    <div>
      <p-card [style]="{'height': '33.80rem'}">
        <p-card  [style]="{'border-top': '5px solid #f76e11', 'border-radius': '8px', 'height': '6.00rem'}">

          <ng-template pTemplate="title">

            <div class="custom-card-title">

              Movimientos
            </div>

          </ng-template>

      </p-card>
      <p-card class="m-2" [style]="{'border-top': '5px solid #f76e11', 'border-radius': '8px' , 'height': '6.00rem'}">

        <ng-template pTemplate="title">
          <div class="custom-card-title">

            Volantes de Pago
          </div>

        </ng-template>
    </p-card>
    <p-card class="m-2" [style]="{'border-top': '5px solid #f76e11', 'border-radius': '8px' , 'height': '6.00rem'}">

      <ng-template pTemplate="title">

        <div class="custom-card-title">

          Provisiones
        </div>

      </ng-template>
  </p-card>
  <p-card [style]="{'border-top': '5px solid #f76e11', 'border-radius': '8px' , 'height': '6.00rem'}">

    <ng-template pTemplate="title">
      <div class="custom-card-title">

        PILA
      </div>

    </ng-template>
</p-card>
  </p-card>
    </div>


<div class="mt-2">
  <p-card [style]="{ background:'#f76e11', 'height': '9.00rem'}">

  </p-card>
</div>



  </div>





</div>





























































































<!--   aca empieza otra columna -->


























