
<app-header></app-header>

 <p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="20000">
    

    <p>PRCOCESOS ANTES DE LA NOMINA:</p>
    <p class="m-4">RECIBIR NOVEDADES:</p>
    <ul style="line-height:180%">
    
      <li>Vacaciones</li>
      <li>Horas Extras</li>
      <li>Incapacidades</li>
      <li>Ausentismos</li>
      <li>Prestamos</li>
      <li>Embargos</li>
      <li>Cambios de centros de costos</li>
      <li>Cambio de salario</li>
      <li>Retiros</li>
    </ul>

    <p class="p-2">PRCOCESOS DURANTE DE LA NOMINA:</p>
    <ul style="line-height:180%">
    
      <li>Registrar Nuevos Empleados</li>
      <li>Realizar Prorrogas de Contrato</li>
      <li>Realizar Cambios de Centro de Costos</li>
      <li>Realizar Cambios de Sueldo</li>
      <li>Registrar Horas Extras</li>
      <li>Registrar Ausentismos</li>
      <li>Registrar Pagos Recurrentes</li>
      <li>Registrar Deducciones Recurrentes</li>
      <li>Registrar Prestamos</li>
      <li>Pagar Comisiones</li>
      <li>Liquidar Cesantias Parciales</li>
      <li>Liquidaciones de contrato</li>
      <li>Liquidación de la Nómina</li>
      <li>Generar y Revisar la Prenomina</li>
      <li>Imprimir Soportes de Nómina</li>
      <li>Generar Archivo de Pagos</li>
      <li>Generar y enviar interfaz contable</li>
      <li>Ejecutar proceso de autoliquidación y parafiscales</li>
      <li>Generar archivo plano de autoliquidación y parafiscales</li>
    </ul>

    <p class="p-2">PRCOCESOS DESPUES DE LA NOMINA:</p>
    <ul style="line-height:180%">
    
      <li>Informe del DANE</li>
      <li>Informe Registrauría</li>
      <li>Informes de indicadores</li>
      <li>Pagos a Terceros</li>
      <li>Conciliación</li>
    </ul>



</p-sidebar>
<p-button type="button" class="p-mr-2 absolute bottom-50 right-0 align-items-center justify-content-center p-button-success"
(click)="visibleSidebar2 = true" >Check List</p-button>
<div class="grid">
    <div class="col-7">

        <div class="font-medium text-lg text-700 m-4">Mis Nóminas</div>
    <div class="grid m-4">
     
       
           <p-card  routerLink="/payroll/novelties" class="mr-3 border-round align-items-stretch cursor-pointer" [style]="{'width': '11rem', 'margin-bottom': '0em', 'border-radius': '8px', 'min-height': '150px', 'background-color': 'mediumturquoise'}">
               <div class="flex justify-content-between mb-1">
               <div>
                   <span class="block font-medium text-0">Actual</span>
                   <span class="text-500"><small class="text-center text-xs text-0">
                    Periodo: {{period[0].year}}-{{period[0].number}}    </small></span>
                   
                     
               </div>
               <div class="flex align-items-center justify-content-center bg-teal-100 border-round" 
                            style="width:2.5rem;height:2.5rem">
                           <i class="pi pi-dollar text-teal-500 text-xl"></i>
                       </div>
                   </div>
                   <!-- <div class="mb-2">
                       
                   </div> -->
                   <div>
                       <span class="text-500 text-0"><small class="text-0">Del:  {{period[0].initialDate | date: 'dd-MM-YYYY': 'GMT +12'}}<br/></small></span>
                       <span class="text-500 text-0"><small class="text-0">Al :  {{period[0].endDate | date: 'dd-MM-YYYY': 'GMT +1'}}</small></span>
                       <span class="text-500"><small></small></span>
                   </div>
           </p-card>
          

          
               <p-card class=" mr-3 border-round align-items-stretch cursor-pointer" [style]="{'width': '11rem', 'border-radius': '8px', 'min-height': '150px'}">
                   <div class="flex justify-content-between">
                   <div>
                       <span class="block text-500 font-medium">Especiales</span>
                   </div>
                   <div class="flex align-items-center justify-content-center bg-pink-100 border-round" 
                                style="width:2.5rem;height:2.5rem">
                               <i class="pi pi-id-card text-pink-500 text-xl"></i>
                           </div>
                       </div>
                       <div class="mb-2">
                           <span></span>
                           <span></span>
                       </div>
                       <div>
                           <span></span>
                          <span></span>
                        </div>
               </p-card>
               

               
                   <p-card class="mr-3 border-round cursor-pointer" [style]="{'width': '11rem', 'margin-bottom': '0em', 'border-radius': '8px', 'min-height': '150px'}">
                       <div class="flex justify-content-between ">
                       <div>
                           <span class="block text-500 font-medium">Historicos</span>
                       </div>
                       <div class="flex align-items-center justify-content-center bg-purple-100 border-round" 
                                    style="width:2.5rem;height:2.5rem">
                                   <i class="pi pi-clock text-purple-500 text-xl"></i>
                               </div>
                           </div>
                           <div class="mb-2">
                               <span></span>
                               <span></span>
                           </div>
                           <div>
                               <span></span>
                              <span></span>
                            </div>
                   </p-card>
                   

        

   </div>  


   <div class="font-medium text-lg text-700 m-4">Mis Empleados</div>
     <div class="grid m-4">
        
        <p-card  routerLink="/employees/list"  class="mr-3 border-round align-items-stretch cursor-pointer" 
                [style]="{'width': '11rem', 'margin-bottom': '0em','border-radius': '8px', 'min-height': '150px' }">
            <div class="flex justify-content-between mb-2">
                <div>
                    <span class="block text-500 font-medium">Todos</span>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" 
                            style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-users text-blue-500 text-xl"></i>
                </div>
            </div>
                <div>
                   <span class="text-blue-500 font-medium"><small>Activos:</small></span>
                   <span class="text-500"><small>50</small></span>
                </div>
                <div>
                    <span class="text-blue-500 font-medium"><small>Retirados:</small></span>
                   <span class="text-500"><small>10</small></span>
                 </div>
        </p-card>
       

        
            <p-card routerLink="/employees/new/personal"  class="mr-3 border-round align-items-stretch cursor-pointer" [style]="{'width': '11rem', 'margin-bottom': '0em','border-radius': '8px', 'min-height': '150px'}">
                <div class="flex justify-content-between mb-2">
                <div>
                    <span class="block text-500 font-medium mb-2">Ingresar</span>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" 
                             style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-user-plus text-blue-500 text-xl"></i>
                        </div>
                    </div>
                    <div class="mb-2">
                       <span></span>
                       <span></span>
                    </div>
                    <div>
                        <span></span>
                       <span></span>
                     </div>
            </p-card>
           

           
                <p-card class="mr-3 border-round align-items-stretch cursor-pointer" [style]="{'width': '11rem', 'margin-bottom': '0em','border-radius': '8px', 'min-height': '150px'}">
                    <div class="flex justify-content-between mb-2">
                    <div>
                        <span class="block text-500 font-medium mb-2">Retirar</span>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" 
                                 style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-user-minus text-blue-500 text-xl"></i>
                            </div>
                        </div>
                        <div class="mb-2">
                           <span></span>
                           <span></span>
                        </div>
                        <div>
                            <span></span>
                           <span></span>
                         </div>
                </p-card>
               

    </div>  

        <div class="font-medium text-lg text-700 m-4">Mi Empresa</div>
     <div class="grid m-4">
       

           
                <p-card routerLink="/companies/config"  class="mr-3 border-round align-items-stretch cursor-pointer" [style]="{'width': '11rem', 'border-radius': '8px', 'min-height': '150px'}">
                    <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Datos de <br />Nómina</span>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-indigo-100 border-round" 
                                 style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-credit-card text-indigo-500 text-xl"></i>
                            </div>
                        </div>
                        <div class="mb-2">
                            <span></span>
                            <span></span>
                        </div>
                        <div>
                            <span></span>
                           <span></span>
                         </div>
                </p-card>
                

                
                    <p-card class="mr-3 border-round align-items-stretch cursor-pointer" [style]="{'width': '11rem', 'margin-bottom': '0em', 'border-radius': '8px', 'min-height': '150px'}">
                        <div class="flex justify-content-between mb-3 m-2">
                        <div>
                            <span class="block text-500 font-medium mb-3">Estructura Organizativa</span>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-orange-100 border-round" 
                                     style="width:2.5rem;height:2.5rem">
                                    <i class="pi pi-sitemap text-orange-500 text-xl"></i>
                                </div>
                            </div>
                            <div class="mb-2">
                                <span></span>
                                <span></span>
                            </div>
                            <div>
                                <span></span>
                               <span></span>
                             </div>
                    </p-card>
                   

                  
                        <p-card class="mr-3 border-round align-items-stretch cursor-pointer" [style]="{'width': '11rem', 'margin-bottom': '0em', 'border-radius': '8px', 'min-height': '150px'}">
                            <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Conceptos de <br />Nómina</span>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-green-100 border-round" 
                                         style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-list text-green-500 text-xl"></i>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div>
                                    <span></span>
                                   <span></span>
                                 </div>
                        </p-card>
                        

    </div>    


    


      


      

   
<!--   aca empieza otra columna -->

        <div class="font-medium text-lg text-700 mb-3 m-4">Mis Reportes</div>
        <div class="grid m-4">
         
        
               <p-card class="mr-3 border-round align-items-stretch cursor-pointer" [style]="{'width': '11rem', 'margin-bottom': '0em', 'border-radius': '8px', 'min-height': '150px'}">
                   <div class="justify-content-between mb-3">
                   <div>
                       <span class="block text-500 text-sm mb-3">Movimientos</span>
                   </div>
                   <div class="flex align-items-center justify-content-center bg-teal-100 border-round" 
                                style="width:2.5rem;height:2.5rem">
                               <i class="pi pi-file-pdf text-teal-500 text-xl"></i>
                           </div>
                       </div>
                       <div class="mb-2">
                           <span></span>
                           <span></span>
                       </div>
                       <div>
                           <span></span>
                          <span></span>
                        </div>
               </p-card>
            

          
                <p-card class="mr-3 border-round align-items-stretch cursor-pointer" [style]="{'width': '11rem', 'margin-bottom': '0em', 'border-radius': '8px', 'min-height': '150px'}">
                    <div class="justify-content-between mb-3">
                    <div>
                        <span class="block text-500 text-sm mb-3">Provisiones</span>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-teal-100 border-round" 
                                 style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-file-pdf text-teal-500 text-xl"></i>
                            </div>
                        </div>
                        <div class="mb-2">
                            <span></span>
                            <span></span>
                        </div>
                        <div>
                            <span></span>
                           <span></span>
                         </div>
                </p-card>
            

            
                <p-card class="mr-3 border-round align-items-stretch cursor-pointer" [style]="{'width': '11rem', 'margin-bottom': '0em', 'border-radius': '8px', 'min-height': '150px'}">
                    <div class="justify-content-between mb-3">
                    <div>
                        <span class="block text-500 text-sm mb-3">Volantes de <br/>Pago</span>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-teal-100 border-round" 
                                 style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-file-pdf text-teal-500 text-xl"></i>
                            </div>
                        </div>
                        <div class="mb-2">
                            <span></span>
                            <span></span>
                        </div>
                        <div>
                            <span></span>
                           <span></span>
                         </div>
                </p-card>
            
 
        </div>


        <div class="grid m-4">
         
            

             
                <p-card class="mr-3 border-round align-items-stretch cursor-pointer" [style]="{'width': '11rem', 'margin-bottom': '0em', 'border-radius': '8px', 'min-height': '150px'}">
                    <div class="justify-content-between mb-3">
                    <div>
                        <span class="block text-500 text-sm mb-3">Certificado de <br/>Ingresos</span>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-teal-100 border-round" 
                                 style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-file-pdf text-teal-500 text-xl"></i>
                            </div>
                        </div>
                        <div class="mb-2">
                            <span></span>
                            <span></span>
                        </div>
                        <div>
                            <span></span>
                           <span></span>
                         </div>
                </p-card>
            
                
            
                <p-card class="mr-3 border-round align-items-stretch cursor-pointer" [style]="{'width': '11rem', 'margin-bottom': '0em', 'border-radius': '8px', 'min-height': '150px'}">
                    <div class="justify-content-between mb-3">
                    <div>
                        <span class="block text-500 text-sm mb-3">Maestro de <br/>Empleados</span>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-teal-100 border-round" 
                                 style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-file-pdf text-teal-500 text-xl"></i>
                            </div>
                        </div>
                        <div class="mb-2">
                            <span></span>
                            <span></span>
                        </div>
                        <div>
                            <span></span>
                           <span></span>
                         </div>
                </p-card>
           
  
         </div>

        


              
</div>











    
     



     
