
<app-header></app-header>



<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="20000">


    <p>PRCOCESOS ANTES DE LA NOMINA:</p>
    <p class="m-4">RECIBIR NOVEDADES:</p>
    <ul style="line-height:180%">

      <li>Vacaciones</li>
      <li>Horas Extras</li>
      <li>Incapacidades</li>
      <li>Ausentismos</li>
      <li>Prestamos</li>
      <li>Embargos</li>
      <li>Cambios de centros de costos</li>
      <li>Cambio de salario</li>
      <li>Retiros</li>
    </ul>

    <p class="p-2">PRCOCESOS DURANTE DE LA NOMINA:</p>
    <ul style="line-height:180%">

      <li>Registrar Nuevos Empleados</li>
      <li>Realizar Prorrogas de Contrato</li>
      <li>Realizar Cambios de Centro de Costos</li>
      <li>Realizar Cambios de Sueldo</li>
      <li>Registrar Horas Extras</li>
      <li>Registrar Ausentismos</li>
      <li>Registrar Pagos Recurrentes</li>
      <li>Registrar Deducciones Recurrentes</li>
      <li>Registrar Prestamos</li>
      <li>Pagar Comisiones</li>
      <li>Liquidar Cesantias Parciales</li>
      <li>Liquidaciones de contrato</li>
      <li>Liquidación de la Nómina</li>
      <li>Generar y Revisar la Prenomina</li>
      <li>Imprimir Soportes de Nómina</li>
      <li>Generar Archivo de Pagos</li>
      <li>Generar y enviar interfaz contable</li>
      <li>Ejecutar proceso de autoliquidación y parafiscales</li>
      <li>Generar archivo plano de autoliquidación y parafiscales</li>
    </ul>

    <p class="p-2">PRCOCESOS DESPUES DE LA NOMINA:</p>
    <ul style="line-height:180%">

      <li>Informe del DANE</li>
      <li>Informe Registrauría</li>
      <li>Informes de indicadores</li>
      <li>Pagos a Terceros</li>
      <li>Conciliación</li>
    </ul>



</p-sidebar>
<!-- <p-button type="button" class="p-mr-2 absolute bottom-50 right-0 align-items-center justify-content-center"
(click)="visibleSidebar2 = true" >Check List</p-button> -->






<div class="grid nested-grid">
  <div class="col-8">
      <div class="grid">
          <div class="col-6 mt-2">

            <p-card [style]="{'height': '17.00rem'}">
              <div class="grid">

                  <div class="col-12">


                        <p-card  class= "cursor-pointer" [style]="{'border-top': '5px solid #53B4BA', 'border-radius': '8px', 'height': '6.00rem'}" routerLink="/payroll/novelties">

                          <ng-template pTemplate="header">
                            <div class="text-center textLogo mt-2">
                              <i class="pi pi-dollar" style="font-size: 2rem" ></i>
                             </div>
                            <div class="card-title text-center">

                              Nómina Actual

                            </div>



                            <div class="text-center text-sm mt-2">
                              <span class="text-base text-xs textLogo mr-4">{{ period.id ?  ('Periodo: ' + period?.year + '-' +  period?.number) : 'Periodo: Falta Configurar Periodo'}}</span>
                              <span class="text-500 text-sm"><small>{{ period.id ? ('Del: ' + (period?.initialDate | date: 'dd-MM-YYYY': 'GMT +1')) : ''}}</small></span>
                              <span class="text-500 text-sm"><small>{{ period.id ? (' Al: ' + (period?.endDate | date: 'dd-MM-YYYY': 'GMT +1')): ''}}</small></span>
                           </div>
                          </ng-template>


                      </p-card>


                      </div>

                        <div class="col-6">


                            <p-card  class= "cursor-pointer" [style]="{'border-top': '5px solid #53B4BA', 'border-radius': '8px', 'height': '6.00rem'}" routerLink="/payroll/novelties">

                              <ng-template pTemplate="header">
                                <div class="text-center textLogo mt-2">
                                  <i class="pi pi-money-bill" style="font-size: 2rem" ></i>
                                 </div>
                                <div class="card-title text-center">

                                  Nóminas Especiales

                                </div>


                              </ng-template>

                          </p-card>
                          </div>



                <div class="col-6">


                        <p-card  class= "cursor-pointer" [style]="{'border-top': '5px solid #53B4BA', 'border-radius': '8px', 'height': '6.00rem'}" routerLink="/payroll/novelties">

                          <ng-template pTemplate="header">
                            <div class="text-center textLogo mt-2">
                              <i class="pi pi-clock" style="font-size: 2rem" ></i>
                             </div>
                            <div class="card-title text-center">

                              Nóminas Históricas

                            </div>


                          </ng-template>

                      </p-card>

                      </div>


                      </div>





                    </p-card>







          </div>
          <div class="col-6 mt-2">

            <p-card [style]="{'height': '17.00rem'}">


              <div class="grid">


                  <div class="col-6">
                    <p-card  class= "cursor-pointer" [style]="{'border-top': '5px solid #53B4BA', 'border-radius': '8px', 'height': '6.00rem'}" routerLink="/payroll/novelties">

                      <ng-template pTemplate="header">
                        <div class="text-center textLogo mt-2">
                          <i class="pi pi-user-plus" style="font-size: 2rem" ></i>
                         </div>
                        <div class="card-title text-center">

                          Nuevo Empleado

                        </div>


                      </ng-template>

                  </p-card>
                </div>


                  <div class="col-6">
                  <p-card  class= "cursor-pointer" [style]="{'border-top': '5px solid #53B4BA', 'border-radius': '8px', 'height': '6.00rem'}" routerLink="/payroll/novelties">

                    <ng-template pTemplate="header">
                      <div class="text-center textLogo mt-2">
                        <i class="pi pi-user-minus" style="font-size: 2rem" ></i>
                       </div>
                      <div class="card-title text-center">

                        Retirar Empleado

                      </div>


                    </ng-template>

                </p-card>

              </div>

                  <div class="col">



                  <p-card class= "cursor-pointer" [style]="{'border-top': '5px solid #53B4BA', 'border-radius': '8px', 'height': '6.00rem'}" routerLink="/employees/list">
                    <ng-template pTemplate="header">
                      <div class="text-center textLogo">
                        <i class="pi pi-users" style="font-size: 2rem" ></i>

                      </div>
                      <div class="card-title text-center">

                        Listado de Empleados

                      </div>
                      <div class="text-center text-sm">
                        <span class="text-600 text-sm mr-2"><small class="text-600">Activos: 100</small></span>
                        <span class="text-600 text-sm"><small class="text-600">Retirados: 5</small></span>
                     </div>
                    </ng-template>





                  </p-card>

                   </div>



              </div>
            </p-card>




          </div>



          <div class="col-12">


            <p-card [style]="{'height': '14.00rem'}">

              <div class="col">


                  <p-card  class= "cursor-pointer" routerLink="/companies/config" [style]="{'border': '1px solid #9b9b9b','border-radius': '8px', 'height': '5.00rem'}">

                          <ng-template pTemplate="header">
                            <div class="text-center textLogo mt-2">
                              <i class="pi pi-cog" style="font-size: 2rem" ></i>
                            </div>
                            <div class="card-title text-center">

                              Configurar Empresa

                            </div>


                          </ng-template>




                </p-card>

                  </div>
                  <div class="col">


                  <p-card  class= "cursor-pointer card-hover" [style]="{'border': '1px solid #9b9b9b', 'border-radius': '8px', 'height': '5.00rem'}" routerLink="/payroll/novelties">

                    <ng-template pTemplate="header">
                      <div class="text-center textLogo mt-2">
                        <i class="pi pi-list" style="font-size: 2rem" ></i>
                       </div>
                      <div class="card-title text-center">

                        Conceptos de Nomina

                      </div>


                    </ng-template>

                </p-card>
              </div>

            </p-card>


          </div>

      </div>

      <p-card class="card" [style]="{'height': '9.00rem'}">



          <!-- <div class="grid"> -->



           <!--  <div class="col">
              <span class="text-100 font-medium">Saldo Vacaciones</span>

              <div class="text-100 text-4xl">{{ 5000000 | currency:'COP': true:'2.0'}}</div>

            </div >
            <p-divider layout="vertical"></p-divider>

            <div class="col">
              <span class="block text-100 font-medium">Saldo Prima Legal</span>
              <div class="text-100 font-medium text-4xl">{{ 1000000 | currency:'COP':true:'2.0' }}</div>

          </div>
          <p-divider layout="vertical"></p-divider>

          <div class="col">
            <span class="block text-100 font-medium">Saldo Cesantias</span>
              <div class="text-100 font-medium text-4xl">{{ 2500000 | currency:'COP':true:'2.0' }}</div>

        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="col">
          <span class="block text-100 font-medium">Saldo Int Cesantias</span>
          <div class="text-100 font-medium text-4xl">{{ 1000000 | currency:'COP':true:'2.0'}}</div>
      </div> -->


      <div>
        <div class="grid">
          <div class="col-4 md:col-3">
            <div class="kpi">
              <div class="kpi__label">Saldo Vacaciones</div>
              <div class="kpi__value">$ 5.000.000</div>
            </div>
          </div>
          <div class="col-4 md:col-3">
            <div class="kpi">
              <div class="kpi__label">Saldo Prima Legal</div>
              <div class="kpi__value">$ 1.000.000</div>
            </div>
          </div>
          <div class="col-4 md:col-3">
            <div class="kpi">
              <div class="kpi__label">Saldo Cesantías</div>
              <div class="kpi__value">$ 2.500.000</div>
            </div>
          </div>
          <div class="col-4 md:col-3">
            <div class="kpi">
              <div class="kpi__label">Saldo Int.Cesantías</div>
              <div class="kpi__value">$ 100.000</div>
            </div>
          </div>
        </div>
      </div>


          <!-- </div> -->



      </p-card>




  </div>










  <div class="col-4 lg:col-4 mt-2">



      <p-card [style]="{'height': '29rem'}">

  <!-- Columna derecha (gráficos 4/12) -->

    <div class="grid">
      <div class="col-12">
        <p-card>
          <div class="p-3">
            <div class="card-title"><div>Casos por fuente</div></div>
            <p-chart type="bar" [data]="chartBarData" [options]="chartBarOpts"></p-chart>
          </div>
        </p-card>
      </div>
     <!--  <div class="col-12">
        <p-card class="card">
          <div class="p-3">
            <div class="card-title"><div>Casos por categoría</div></div>
            <p-chart type="doughnut" [data]="chartDonutData" [options]="chartDonutOpts"></p-chart>
          </div>
        </p-card>
      </div> -->
      <!-- <div class="col-4">
        <p-card class="card">
          <div class="p-3">
            <div class="card-title"><div class="card-ico"></div><div>Empleados Activos</div></div>
            <p-chart type="bar" [data]="chartTinyData" [options]="chartTinyOpts"></p-chart>
          </div>
        </p-card>
      </div> -->
    </div>



      </p-card>




<div class="col-4">

</div>

<div class="col-12">
  <div class="proc-grid">
    <button class="proc proc--mov" >
      <div class="proc__ico"><i class="pi pi-refresh"></i></div>
      <div class="font-semibold">Movimientos</div>
    </button>

    <button class="proc proc--pila">
      <div class="proc__ico"><i class="pi pi-send"></i></div>
      <div class="font-semibold">PILA</div>
    </button>

    <button class="proc proc--prov" >
      <div class="proc__ico"><i class="pi pi-database"></i></div>
      <div class="font-semibold">Provisiones</div>
    </button>

    <button class="proc proc--vol" >
      <div class="proc__ico"><i class="pi pi-file"></i></div>
      <div class="font-semibold">Volantes de Pago</div>
    </button>


  </div>
</div>

  </div>

</div>
































































































<!--   aca empieza otra columna -->


























