
<div class="fondo-negro animate fadeIn" [ngClass]="_modalUploadService.oculto" >

   <!--  <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Actualizar Imagen</h5>
                    <button (click)="cerrarModal()" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    
                    <img *ngIf="!imagenTemp" [src]="" class="w150">
                    <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150"> -->
                    <!-- <input (change)="seleccionImagen( $event.target.files[0] )" type="file"> -->
                    <!-- <input (change)="upload($event)" type="file">


                </div>
                <div class="modal-footer">
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary">Cerrar</button>
                    <button (click)="subirImagen()" [disabled]="!imagenTemp" type="button" class="btn btn-primary">Subir Imagen</button>
                </div>
            </div>
        </div>
    </div> -->

    <p-dialog header="Subir Imagen" [(visible)]="displayModal" [modal]="true" [closable]="false" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <p-fileUpload chooseLabel="Cargar Imagen" uploadLabel="Subir Imagen" cancelLabel="Cancelar"
    [previewWidth]="100"  [showUploadButton]="false"
                  accept="image/*" [customUpload]="true" [maxFileSize]="1000000" (onSelect)="onUpload($event)"></p-fileUpload>
        <ng-template pTemplate="footer">
        
        <button pButton pRipple (click)="subirImagen()" type="button" [disabled]="!file" label="Subir Imagen"></button>
        <button pButton pRipple type="button" (click)="cerrarModal()" label="Cerrar" class="p-button-danger"></button>

        </ng-template>
</p-dialog>


</div>







 


 
 




